---
menu: people
title: People
---

<div>
  <h1>Middleman Sandbox</h1>

  <p class="lead">
    Sandbox app for testing:
  </p>
  <ul>
    <li>Twitter Bootstrap</li>
    <li>Dynamic Pages</li>
    <li>18n</li>
  </ul>
</div>


<p class="lead">
  current language
</p>
<ul>
  <li>Language: <%= t(:language) %> </li>
  <li>Locale: <%= I18n.locale %> </li>
</ul>



<div class="page-header">
  <h1> People
    <small>List of people</small>
  </h1>
</div>


<div class="table-responsive">

  <table id="people_table" class="table table-striped table-bordered sortable">
    <thead>
    <tr>
      <th>
        First name
      </th>
      <th>Family name</th>
      <th>Lawyer</th>
      <th>Contact persons</th>
      <th>created at</th>
      <th>updated at</th>
      <th colspan="3" data-defaultsort='disabled' >actions</th>
    </tr>
    </thead>

    <tbody>
    <% data.people.each do |person| %>
        <tr>
          <td><%= person.first_name %></td>
          <td><%= person.family_name %></td>
          <td><%= person.lawyer %></td>
          <td><%= person.contact_persons %></td>
          <td><%= person.created_at %></td>
          <td><%= person.updated_at %></td>
          <td><%= link_to "Show", "/#{I18n.locale}/person/#{person.id}.html" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
