---
menu: people
title: People
---

<div class="page-header">
  <h1> People
    <small>List of people</small>
  </h1>
</div>

<div class="table-responsive">

  <table id="people_table" class="table table-striped table-bordered"
         data-toggle="table"
         data-filter-control="true"
         data-pagination="true"
         data-search="true"
  >
         <!--Cookie schein nicht zu funktionieren
         data-cookie="true"
         data-cookie-id-table="people"
         data-cookie-expire="2d" -->

    <thead>
    <tr>
      <th data-field="s_n" data-sortable="true">SN</th>
      <th data-field="register_number" data-sortable="true" data-filter-control="input">register_number</th>
      <th data-field="first_name" data-sortable="true" data-filter-control="input">
        First name
      </th>
      <th data-field="family_name" data-sortable="true" data-filter-control="input">Family name</th>
      <th data-field="lawyer" data-sortable="true" data-filter-control="select" data-filter-strict-search="true">Lawyer</th>
      <th>Contact persons</th>
      <th data-sortable="true">created at</th>
      <th data-sortable="true">updated at</th>
      <th data-sortable="true">Comments</th>
      <th>actions</th>
    </tr>
    </thead>

    <tbody>
    <% data.people.each do |person| %>
        <tr>
          <td><%= person.s_n %></td>
          <td><%= person.register_number %></td>
          <td><%= person.first_name %></td>
          <td><%= person.family_name %></td>
          <td><%= person.lawyer %></td>
          <td><%= person.contact_persons %></td>
          <td><%= localize_date_time(person.created_at)%></td>
          <td><%= localize_date_time person.updated_at %></td>
          <td><span class="badge"><%= person.comments_count%></span></td>
          <td><%= link_to "Show", "/#{I18n.locale}/person/#{person.id}.html" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
