---
menu: home
title: Alle Personen
---

<h3>
  current language
</h3>
<ul>
  <li>Locale: <%= I18n.locale %> </li>
  <li>Language: <%= t(:language) %> </li>
  <li><%= t(:hello) %> </li>
</ul>


<h3>
  Info
</h3>

<ul>
  <li><%= eval "#{json}.first_name" %></li>
  <li><%= eval "#{json}.family_name" %></li>
</ul>


<h3>
  Kommentare
</h3>
<%eval("#{json}.comments").each do |k| %>
  <div class="well">
    <%= k %>
  </div>
<% end %>





