---
menu: home
title: Details
---

<% person = eval json %>

<h3>
  current language
</h3>
<ul>
  <li>Locale: <%= I18n.locale %> </li>
  <li>Language: <%= t(:language) %> </li>
  <li><%= t(:hello) %> </li>
</ul>


<h3>
  Info
</h3>

<ul>
  <li><%= person.first_name %></li>
  <li><%= person.family_name %></li>
</ul>


<%= link_to "previous", "/#{I18n.locale}/person/#{Integer(person.id) -1}.html" %>
<%= link_to "next", "/#{I18n.locale}/person/#{Integer(person.id) + 1}.html" %>

<%= link_to "back", "/people.html" %>


<h3>
  Kommentare
</h3>
<%eval("#{json}.comments").each do |k| %>
  <div class="well">
    <%= k %>
  </div>
<% end %>





